.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  min-height: 10vh;
  background-color: grey;
  color: aliceblue;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  width: 20%;
  list-style: none;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 50vh;
  min-width: 20%;
  margin: 20px;
}
